.header{
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(19, 25, 33);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(221, 221, 221);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.amazon-logo {
  height: 50px;
  margin: 5px 6px 6px 20px;
  cursor: pointer;
  box-sizing: border-box; 
  padding: 10px;
  border: 1px solid transparent; 
  transition: border-color 0.3s;
}

.amazon-logo:hover {
  border-color: white; 
  border-radius: 2px; 
}

.middle-section {
  flex: 1; 
  margin-left: 60px;
  margin-right: 35px;
  max-width: 600px; 
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1; 
  height: 35px;
  padding-left: 10px; 
  font-size: 16px;
  border-width: 1px;
  border: none; 
  border-radius: 2px 0px 0px 2px;
  max-width: 100%;
  width: 100%;
}


.search-bar:focus {
  border: none;
  border-color: orange; 
  padding-left: 10px;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  color: grey;
}


.search-button{
  height: 37px;
  width: 45px;
  border-radius: 0px 3px 3px 0px;
  border-style: solid;
  border: none;
  background-color: rgb(254, 189, 105);
  cursor: pointer;
}

.search-icone{
  height: 23px;
  align-items: center;
}


.right-section{
  width: 180px;
  display: flex;
  align-items: center;
}

.returns-button{
  height: 50px;
  width: 65px;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box; 
  border: 1px solid transparent; 
  transition: border-color 0.3s;
  font-size: 13px;
  color: white;
  font-family: Roboto, Arial;
}

.returns-button:hover {
  border-color: white; 
  border-radius: 2px; 
}

.cart-button{
  height: 50px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  color: white;
  box-sizing: border-box; 
  border: 1px solid transparent; 
  transition: border-color 0.3s;
  font-size: 13px;
  font-family: Roboto, Arial;
}

.cart-button:hover {
  border-color: white; 
  border-radius: 2px; 
}

.cart-icon{
  height: 25px;
}

.cart-count{
  position: absolute;
  bottom: 28px;
  right: 80px;
  background-color: transparent;
  color: orange;
  font-weight: 500;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 50%;
}